<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script type="application/javascript" src="/js/jquery-3.5.1.js"></script>
    <script type="application/javascript" src="/js/bootstrap.js"></script>
    <script type="text/css" src="/css/bootstrap.css"></script>
    <title>Admin</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col">
            <form method="GET" th:action="@{/admin}">
                <input type="submit" value="Set lvl"/>
            </form>
        </div>
        <div class="col">
            <form method="GET" th:action="@{/admin/levels}">
                <input type="submit" value="Levels"/>
            </form>
        </div>
        <div class="col">
            <form method="POST" th:action="@{/logout}">
                <input type="submit" value="Logout"/>
            </form>
        </div>
    </div>
</div>
    <div>Welcome to admin page.</div>
    <div>
        <form id="addAdmin" action="#" th:action="@{/admin/add}" th:object="${user}" method="post">
            <label for="inputAdmin">Make admin: </label>
            <input name="Admin" id="inputAdmin" th:field="*{login}">
        </form>
        <form id="deleteAdmin" action="#" th:action="@{/admin/delete}" th:object="${user}" method="post">
            <label for="inputDeleteAdmin">Delete admin: </label>
            <input name="Admin" id="inputDeleteAdmin" th:field="*{login}">
        </form>
    </div>
    <form id="myForm" action="#" th:action="@{/admin/levels/save}" th:object="${newLevel}" method="post">
    <label for="lvlNum">Lvl№ </label>
    <input name="lvl" id="lvlNum" th:field="*{lvlId}">
    <textarea name="coordsta" id="coordinates" th:field="*{coords}" style="display:none;"></textarea>
    </form>
    <canvas id="canvas" style="display: block; position: absolute; border: 1px solid black;" width="400" height="400" >
        Your browser is not supported canvas.
    </canvas>
    <script th:inline="javascript">
        var
            canv = document.getElementById('canvas'),
            ctx = canv.getContext('2d'),
            isMouseDown = false,
            isPlaying = false,
            savedCoords = [],
            coords = [];
        canv.width = 400;
        canv.height = 400;

        function getMousePos(canvas, evt) {
            var rect = canvas.getBoundingClientRect();
            return {
                clientX: evt.clientX - rect.left,
                clientY: evt.clientY - rect.top
            };
        }

        canv.addEventListener('mousedown', function () {
            isMouseDown = true;
        });
        canv.addEventListener('mouseup', function () {
            isMouseDown = false;
            ctx.beginPath();
            coords.push('mouseup');
        });
        ctx.lineWidth = 20;
        function write(e){
            e = getMousePos(canv, e);
            console.log("Write");
            coords.push([e.clientX, e.clientY]);
            ctx.lineTo(e.clientX, e.clientY);
            ctx.stroke();

            ctx.beginPath();
            ctx.arc(e.clientX, e.clientY, 10, 0, Math.PI * 2);
            ctx.fill();
            ctx.beginPath();
            ctx.moveTo(e.clientX, e.clientY);
        }
        function game(e){
            e = getMousePos(canv, e);
            if(!savedCoords.length){
                console.log("game false");
                ctx.beginPath();
                isPlaying = false;
                isMouseDown = false;
                return;
            }
            var
                crd = savedCoords.shift(),
                en = {
                    clientX: crd["0"],
                    clientY: crd["1"]
                };
            if(en.clientX === 'm'){
                ctx.beginPath();
                alert("Congrats!");
                return;
            }
            console.log(en.clientX + " X " + e.clientX);
            console.log(en.clientY + " Y " + e.clientY);
            if ((Math.abs(en.clientX-e.clientX)<60)&&(Math.abs(en.clientY-e.clientY)<60)) {
                ctx.lineTo(e.clientX, e.clientY);
                ctx.stroke();

                ctx.beginPath();
                ctx.arc(e.clientX, e.clientY, 10, 0, Math.PI * 2);
                ctx.fill();
                ctx.beginPath();
                ctx.moveTo(e.clientX, e.clientY);
            }else {
                ctx.beginPath();
                ctx.fillStyle = 'red';
                ctx.arc(e.clientX, e.clientY, 15, 0, Math.PI * 2);
                ctx.fill();
                ctx.fillStyle = 'black';
                console.log("Error");
                isPlaying = false;
                isMouseDown = false;
            }
        }
        canv.addEventListener('mousemove', function(e){
            if (isMouseDown) {
                if (!isPlaying) {
                    write(e);
                } else {
                    game(e, coords);
                }
            }
        });
        function save() {
            localStorage.setItem('coords', JSON.stringify(coords));
            var ta = document.getElementById('coordinates');
            ta.value = JSON.stringify(coords);
            document.forms["myForm"].submit();
        }
        function clear(){
            ctx.fillStyle = 'white';
            ctx.fillRect(0, 0, canv.width, canv.height);
            ctx.beginPath();
            ctx.fillStyle = 'black';
        }
        function replay(){
            var
                timer = setInterval(function () {
                    if(!savedCoords.length){
                        clearInterval(timer);
                        ctx.beginPath();
                        return;
                    }
                    var
                        crd = savedCoords.shift(),
                        e = {
                            clientX: crd["0"],
                            clientY: crd["1"]
                        };
                    ctx.lineTo(e.clientX, e.clientY);
                    ctx.stroke();

                    ctx.beginPath();
                    ctx.arc(e.clientX, e.clientY, 10, 0, Math.PI*2);
                    ctx.fill();

                    ctx.beginPath();
                    ctx.moveTo(e.clientX, e.clientY);
                }, 30);
        }
        document.addEventListener('keydown', function (e) {
            if(e.key === 'c'){
                clear();
            }else if (e.key === 'w'){
                coords = [];
                clear();
            }else if (e.key === 's'){
                console.log("save");
                save();
            }else if (e.key === 'r'){
                clear();
                savedCoords = JSON.parse(localStorage.getItem('coords'));
                replay();
            }else if(e.key === 'g'){
                console.log("Game");
                savedCoords = JSON.parse(localStorage.getItem('coords'));
                clear();
                isPlaying = true;
            }
        })
    </script>
</body>
</html>