<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script type="application/javascript" src="/js/jquery-3.5.1.js"></script>
    <script type="application/javascript" src="/js/bootstrap.js"></script>
    <script type="text/css" src="/css/bootstrap.css"></script>
    <title>Application</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col">
            <form method="GET" th:action="@{/admin}">
                <input type="submit" value="Set lvl"/>
            </form>
        </div>
        <div class="col">
            <form method="GET" th:action="@{/admin/levels}">
                <input type="submit" value="Levels"/>
            </form>
        </div>
        <div class="col">
            <form method="POST" th:action="@{/logout}">
                <input type="submit" value="Logout"/>
            </form>
        </div>
    </div>
</div>
</div>
<div>
    This is levels to start:
    <table>
        <tr th:each="level: ${levels}">
            <td th:text="${level}">Lvl ID</td>
            <td><button><a th:href="@{'/levels/start/'+${level}}">Start</a></button></td>
            <td><button><a th:href="@{'/admin/levels/delete/'+${level}}">Delete</a></button></td>
        </tr>
    </table>
</div>
</body>
</html>