<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring</title>
    <script type="text/javascript" th:src="@{/scripts/jquery-3.5.1.js}"></script>
    <script type="text/javascript" th:src="@{/scripts/bootstrap.bundle.js}"></script>
    <link type="text/css"  rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body>
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Menu
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <div class="dropdown-item">
            <form method="GET" th:action="@{/levels}">
                <input type="submit" value="Levels"/>
            </form>
        </div>
        <div class="dropdown-item">
            <form method="GET" th:action="@{/levels/rating}">
                <input type="submit" value="Rating"/>
            </form>
        </div>
        <div class="dropdown-item">
            <form method="POST" th:action="@{/logout}">
                <input type="submit" value="Logout"/>
            </form>
        </div>
    </div>
</div>
<table>
    <tr>
        <td>№</td>
        <td>Username</td>
        <td>lvl</td>
    </tr>
    <tr th:each="user, iState: ${users}">
        <td th:text="${iState.index}+1">№</td>
        <td th:text="${user.getUsername()}">Username</td>
        <td th:text="${user.getLvl()}">Lvl</td>
    </tr>
</table>
</body>
</html>