<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" th:src="@{/scripts/jquery-3.5.1.js}"></script>
    <script type="text/javascript" th:src="@{/scripts/bootstrap.bundle.js}"></script>
    <link type="text/css"  rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body>
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Menu
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <div class="dropdown-item">
            <form method="GET" th:action="@{/levels}">
                <input type="submit" value="Levels"/>
            </form>
        </div>
        <div class="dropdown-item">
            <form method="GET" th:action="@{/levels/rating}">
                <input type="submit" value="Rating"/>
            </form>
        </div>
        <div class="dropdown-item">
            <form method="POST" th:action="@{/logout}">
                <input type="submit" value="Logout"/>
            </form>
        </div>
    </div>
</div>
<div class="container justify-content-md-center">
<div>This is [[${levels.lvlId}]] lvl</div>
    <div>
        <input type="button" onclick="showReplay()" value="Show"/>
        <input type="button" onclick="startGame()" value="Start"/>
    </div>
<canvas id="canvas" style="display: block; position: absolute; border: 1px solid black;" width="400" height="400" >
    Your browser is not supported canvas.
</canvas>
<form id="myForm" th:action="@{'/levels/done/'+${levels.lvlId}}" method="post" th:object="${getObj}">
    <input id="statusDiv" th:field="*{status}" type="hidden">
</form>
</div>
<script th:inline="javascript">
    var
        canv = document.getElementById('canvas'),
        ctx = canv.getContext('2d'),
        isMouseDown = false,
        isPlaying = false,
        savedCoords = [],
        coords = [];
    /*<![CDATA[*/
    var stringCoords = [[${levels.coords}]];
    /*]]>*/
    canv.width = 400;
    canv.height = 400;

    function getMousePos(canvas, evt) {
        var rect = canvas.getBoundingClientRect();
        return {
            clientX: evt.clientX - rect.left,
            clientY: evt.clientY - rect.top
        };
    }

    canv.addEventListener('mousedown', function () {
        isMouseDown = true;
    });
    canv.addEventListener('mouseup', function () {
        isMouseDown = false;
        ctx.beginPath();
        coords.push('mouseup');
    });
    ctx.lineWidth = 20;
    function game(e){
        e = getMousePos(canv, e);
        if(!savedCoords.length){
            console.log("game false " + savedCoords.length);
            ctx.beginPath();
            isPlaying = false;
            isMouseDown = false;
            return;
        }
        var
            crd = savedCoords.shift(),
            en = {
                clientX: crd["0"],
                clientY: crd["1"]
            };
        if(en.clientX === 'm'){
            ctx.beginPath();
            alert("Congrats!");
            var statusDiv = document.getElementById('statusDiv');
            statusDiv.value = true;
            document.forms["myForm"].submit();
            return;
        }
        console.log(en.clientX + " X " + e.clientX);
        console.log(en.clientY + " Y " + e.clientY);
        if ((Math.abs(en.clientX-e.clientX)<60)&&(Math.abs(en.clientY-e.clientY)<60)) {
            ctx.lineTo(e.clientX, e.clientY);
            ctx.stroke();
            ctx.beginPath();
            ctx.arc(e.clientX, e.clientY, 10, 0, Math.PI * 2);
            ctx.fill();
            ctx.beginPath();
            ctx.moveTo(e.clientX, e.clientY);
        }else {
            ctx.beginPath();
            ctx.fillStyle = 'red';
            ctx.arc(e.clientX, e.clientY, 15, 0, Math.PI * 2);
            ctx.fill();
            ctx.fillStyle = 'black';
            console.log("Error");
            isPlaying = false;
            isMouseDown = false;
        }
    }
    canv.addEventListener('mousemove', function(e){
        if (isMouseDown) {
            if (!isPlaying) {
                alert("Start the game by press \"R\"");
                isMouseDown = false;
            } else {
                game(e);
            }
        }
    });
    function clear(){
        ctx.fillStyle = 'white';
        ctx.fillRect(0, 0, canv.width, canv.height);
        ctx.beginPath();
        ctx.fillStyle = 'black';
    }
    function replay(string){
        var
            timer = setInterval(function () {
                if(!savedCoords.length){
                    clearInterval(timer);
                    ctx.beginPath();
                    savedCoords = JSON.parse(string);
                    console.log("Length is "+savedCoords.length);
                    clear();
                    isPlaying = true;
                    return;
                }
                var
                    crd = savedCoords.shift(),
                    e = {
                        clientX: crd["0"],
                        clientY: crd["1"]
                    };
                ctx.lineTo(e.clientX, e.clientY);
                ctx.stroke();

                ctx.beginPath();
                ctx.arc(e.clientX, e.clientY, 10, 0, Math.PI*2);
                ctx.fill();

                ctx.beginPath();
                ctx.moveTo(e.clientX, e.clientY);
            }, 10);
    }
    function showReplay(){
        savedCoords = JSON.parse(stringCoords);
        clear();
        replay(stringCoords);
    }
    function startGame(){
        savedCoords = JSON.parse(stringCoords);
        console.log("Length is "+savedCoords.length);
        clear();
        isPlaying = true;
    }
</script>
</body>
</html>